#{$all-buttons},
.button a,
.primary-button a,
.blue-button a,
.red-button a,
.light-blue-button a,
.dark-gray-button a,
.white-button a {
    -webkit-font-smoothing: antialiased;
    appearance: none;
    background-color: $action-color;
    border-radius: $base-border-radius;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    font-size: em(18);
    font-weight: bold;
    line-height: 1;
    padding: em(16px) em(60px);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $base-duration $base-timing;
    user-select: none;
    vertical-align: middle;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $action-color;
      border-color: $action-color;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: transparent;
      }
    }

  }

  .small-button a {
      font-size: em(14px);
  }

  @mixin button-set-up( $color: $action-color ) {
      background-color: $color;

      &:hover,
      &:focus {
          color: $color;
          border-color: $color;
      }

  }

.primary-button a,
.primary-button input[type=submit] {
    @include button-set-up( $primary-color );
}

.blue-button a,
.blue-button input[type=submit] {
    @include button-set-up( $blue );
}

.red-button a,
.red-button input[type=submit] {
    @include button-set-up( $red );
}

.dark-gray-button a,
.dark-gray-button input[type=submit] {
  @include button-set-up( $dark-gray );
}

.white-button a,
.white-button input[type=submit] {
  @include button-set-up( white );
  color: $dark-gray;
}

.button,
.blue-button,
.red-button,
.light-blue-button,
.dark-gray-button {
    display: inline-block;
}
