/*
	Theme Name: Exodus
	Description: Child theme of Genesis, by <a href="http://objectiv.co/">Objectiv Inc</a>.
	Author: Objectiv Inc.
	Author URI: http://objectiv.co/

	Template: genesis
*/
@import url(assets/components/normalize.css/normalize.css);
button, input[type="button"], input[type="reset"], input[type="submit"],
.button a,
.primary-button a,
.blue-button a,
.red-button a,
.light-blue-button a,
.dark-gray-button a,
.white-button a {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #D7263D;
  border-radius: 3px;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1;
  padding: 1em 3.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  .button a:hover,
  .button a:focus,
  .primary-button a:hover,
  .primary-button a:focus,
  .blue-button a:hover,
  .blue-button a:focus,
  .red-button a:hover,
  .red-button a:focus,
  .light-blue-button a:hover,
  .light-blue-button a:focus,
  .dark-gray-button a:hover,
  .dark-gray-button a:focus,
  .white-button a:hover,
  .white-button a:focus {
    background-color: transparent;
    color: #D7263D;
    border-color: #D7263D; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  .button a:disabled,
  .primary-button a:disabled,
  .blue-button a:disabled,
  .red-button a:disabled,
  .light-blue-button a:disabled,
  .dark-gray-button a:disabled,
  .white-button a:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover,
    .button a:disabled:hover,
    .primary-button a:disabled:hover,
    .blue-button a:disabled:hover,
    .red-button a:disabled:hover,
    .light-blue-button a:disabled:hover,
    .dark-gray-button a:disabled:hover,
    .white-button a:disabled:hover {
      background-color: transparent; }

.small-button a {
  font-size: 0.875em; }

.primary-button a,
.primary-button input[type=submit] {
  background-color: #1565c0; }
  .primary-button a:hover, .primary-button a:focus,
  .primary-button input[type=submit]:hover,
  .primary-button input[type=submit]:focus {
    color: #1565c0;
    border-color: #1565c0; }

.blue-button a,
.blue-button input[type=submit] {
  background-color: #1565c0; }
  .blue-button a:hover, .blue-button a:focus,
  .blue-button input[type=submit]:hover,
  .blue-button input[type=submit]:focus {
    color: #1565c0;
    border-color: #1565c0; }

.red-button a,
.red-button input[type=submit] {
  background-color: #D7263D; }
  .red-button a:hover, .red-button a:focus,
  .red-button input[type=submit]:hover,
  .red-button input[type=submit]:focus {
    color: #D7263D;
    border-color: #D7263D; }

.dark-gray-button a,
.dark-gray-button input[type=submit] {
  background-color: #333; }
  .dark-gray-button a:hover, .dark-gray-button a:focus,
  .dark-gray-button input[type=submit]:hover,
  .dark-gray-button input[type=submit]:focus {
    color: #333;
    border-color: #333; }

.white-button a,
.white-button input[type=submit] {
  background-color: white;
  color: #333; }
  .white-button a:hover, .white-button a:focus,
  .white-button input[type=submit]:hover,
  .white-button input[type=submit]:focus {
    color: white;
    border-color: white; }

.button,
.blue-button,
.red-button,
.light-blue-button,
.dark-gray-button {
  display: inline-block; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple]:focus {
    border-color: #D7263D;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(193, 34, 55, 0.7);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(193, 34, 55, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

.gform_wrapper ul {
  margin-left: 0px !important; }
  .gform_wrapper ul li {
    list-style-type: none !important; }

ol,
ul {
  margin-left: 1.25em;
  list-style-type: none;
  padding: 0; }

dl {
  margin-bottom: 1.5em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

> dl,
> ol,
> ul,
p {
  margin-bottom: 1.5em; }

li {
  margin-bottom: 0.75em; }

ol > li {
  list-style-type: decimal; }

ul > li {
  list-style-type: disc; }

li ol,
li ul {
  margin-top: 1%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 90%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }
  body ::-moz-selection {
    background-color: #D7263D;
    color: white; }
  body ::selection {
    background-color: #D7263D;
    color: white; }
  @media only screen and (min-width: 900px) {
    body {
      font-size: 1em; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "canada-type-gibson", "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 1.5em; }

a {
  color: #D7263D;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease; }
  a:active, a:focus, a:hover {
    color: #a11d2e; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 1px solid #ddd;
  border-color: #D7263D;
  border-width: 7px;
  margin: 4% 5% 4% 0;
  padding: 0 0 0 1.25rem; }

code {
  background: #ddd;
  border: 1px solid #ddd;
  color: #333;
  padding: 2px 4px; }

.wp-caption .wp-caption-text {
  margin: 10px 0;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* ## Site Containers
--------------------------------------------- */
.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  .wrap::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (min-width: 900px) {
  .site-inner .wrap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .site-inner .wrap::after {
      clear: both;
      content: "";
      display: table; } }

.single-post .site-inner,
.single-staff .site-inner,
.single-tribe_events .site-inner,
.blog .site-inner,
.archive .site-inner,
.search .site-inner,
.page-template-default .site-inner {
  margin-top: 4em;
  margin-bottom: 4em; }
  @media screen and (min-width: 900px) {
    .single-post .site-inner,
    .single-staff .site-inner,
    .single-tribe_events .site-inner,
    .blog .site-inner,
    .archive .site-inner,
    .search .site-inner,
    .page-template-default .site-inner {
      margin-top: 6.25em;
      margin-bottom: 6.25em; } }

/* ## Column Widths and Positions
--------------------------------------------- */
/* ## Column Widths and Positions
--------------------------------------------- */
.content,
.sidebar-primary,
.full-width .content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  .content:last-child,
  .sidebar-primary:last-child,
  .full-width .content:last-child {
    margin-right: 0; }

@media screen and (min-width: 900px) {
  .content-sidebar-wrap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .content-sidebar-wrap::after {
      clear: both;
      content: "";
      display: table; }
    .content-sidebar-wrap .content {
      width: 65%; }
      .full-width-content .content-sidebar-wrap .content {
        width: 100%; }
    .content-sidebar-wrap .sidebar-primary {
      width: 32%; }
    .content-sidebar .content-sidebar-wrap .sidebar-primary {
      margin-right: 0;
      margin-left: auto; }
    .sidebar-content .content-sidebar-wrap .content {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-right: 0;
      margin-left: auto; }
    .sidebar-content .content-sidebar-wrap .sidebar-primary {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

/**
* Avatar
*/
.avatar {
  float: left; }

.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px; }

.alignright .avatar {
  margin-left: 24px; }

/**
* Media
*/
a.aligncenter img {
  display: block;
  margin: 0 auto; }

a.alignnone {
  display: inline-block; }

.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 3em; }

img.alignnone,
.alignnone {
  margin-bottom: 1.5em; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 3em 3em 0; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 3em 3em; }

.wp-caption-text {
  font-size: 1em;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }

/**
* Objects
*/
embed,
iframe,
img,
object,
.wp-caption {
  max-width: 100%; }

img {
  height: auto; }

.featured-content img,
.gallery img {
  width: auto; }

/**
* Site Title
*/
.site-title a,
.site-title a:hover {
  color: #333; }

.header-image .site-title > a {
  float: left;
  min-height: 90px;
  width: 100%; }

/**
* Widget
*/
.widget {
  word-wrap: break-word; }

.widget li li {
  border: none;
  margin: 0 0 0 3em;
  padding: 0; }

.widget_calendar table {
  width: 100%; }

.widget_calendar td,
.widget_calendar th {
  text-align: center; }

/**
* Entry Content
*/
.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px; }

.entry-content ol > li {
  list-style-type: decimal; }

.entry-content ul > li {
  list-style-type: disc; }

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0; }

.entry-content code {
  background-color: #333;
  color: #ddd; }

/**
* Entry Meta
*/
.entry-comments-link::before {
  content: "\2014";
  margin: 0 1.5em 0 0.75em; }

/**
* Gallery
*
* We aren't going to use Neat for this gallery due to the possible number of gallery columns
* that don't easily break into 12.
*
*/
.gallery {
  overflow: hidden; }

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-3 .gallery-item {
  width: 33%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery-columns-5 .gallery-item {
  width: 20%; }

.gallery-columns-6 .gallery-item {
  width: 16.6666%; }

.gallery-columns-7 .gallery-item {
  width: 14.2857%; }

.gallery-columns-8 .gallery-item {
  width: 12.5%; }

.gallery-columns-9 .gallery-item {
  width: 11.1111%; }

.gallery img {
  border: 1px solid #333;
  height: auto;
  padding: 4px; }

.gallery img:hover {
  border: 1px solid #999; }

@supports (padding: 0px) {
  .site-container {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right); } }

/**
 * Components
 */
body {
  position: relative;
  overflow-x: hidden; }

.site-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  right: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  width: 100%; }

body.locked {
  overflow: hidden; }

.move-left {
  right: 300px; }

#mobile-menu {
  background-color: #333;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  z-index: 2000; }
  #mobile-menu ul {
    list-style-type: none;
    margin: 0; }
  #mobile-menu.move-in {
    right: 0; }

.mobile-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease; }
  .admin-bar .mobile-menu {
    margin-top: 32px; }
    @media (max-width: 782px) {
      .admin-bar .mobile-menu {
        margin-top: 46px; } }
  .mobile-menu .menu > li {
    margin-left: 0; }
    .mobile-menu .menu > li:before {
      content: none; }
    .mobile-menu .menu > li:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
    .mobile-menu .menu > li > a {
      font-family: "canada-type-gibson", "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      font-weight: 500;
      color: #fff;
      display: block;
      margin-bottom: 1.25em;
      line-height: 1em;
      text-transform: uppercase; }
    .mobile-menu .menu > li.menu-item-has-children {
      position: relative; }
      .mobile-menu .menu > li.menu-item-has-children > a {
        font-weight: 600; }
      .mobile-menu .menu > li.menu-item-has-children:after {
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease;
        background-image: url("assets/icons/src/arrow-white.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        cursor: pointer;
        height: 26px;
        position: absolute;
        right: -5px;
        top: -3px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        width: 26px; }
      .mobile-menu .menu > li.menu-item-has-children.active {
        padding-bottom: 10px; }
        .mobile-menu .menu > li.menu-item-has-children.active:after {
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
      .mobile-menu .menu > li.menu-item-has-children .sub-menu {
        padding-left: 0.625em;
        display: none;
        margin-bottom: 1.25em; }
        .mobile-menu .menu > li.menu-item-has-children .sub-menu li {
          margin-left: 0; }
          .mobile-menu .menu > li.menu-item-has-children .sub-menu li:before {
            content: none; }
          .mobile-menu .menu > li.menu-item-has-children .sub-menu li:first-child {
            margin-top: 0; }
          .mobile-menu .menu > li.menu-item-has-children .sub-menu li:last-child {
            margin-bottom: 0; }
        .mobile-menu .menu > li.menu-item-has-children .sub-menu a {
          color: #ddd;
          font-family: "canada-type-gibson", "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  .mobile-menu .icon-close-container {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 16px;
    right: 14px;
    cursor: pointer;
    z-index: 99999; }
  .mobile-menu .icon-close {
    width: 28px;
    height: 28px; }
    .mobile-menu .icon-close path:first-child {
      fill: #fff; }

.mobile-menu-search {
  margin-top: 1.875em; }
  .mobile-menu-search input[type='submit'] {
    display: none !important; }

.mobile-menu-icon {
  width: 32px;
  height: 28px;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  cursor: pointer;
  opacity: 0.7; }
  @media screen and (min-width: 900px) {
    .mobile-menu-icon {
      display: none; } }
  .mobile-menu-icon:hover {
    opacity: 1; }

.mobile-menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 150ms ease;
  transition: 150ms ease; }
  .scrolled .mobile-menu-icon span {
    background: #333; }

.mobile-menu-icon span:nth-child(1) {
  top: 0px; }

.mobile-menu-icon span:nth-child(2),
.mobile-menu-icon span:nth-child(3) {
  top: 12px; }

.mobile-menu-icon span:nth-child(4) {
  top: 24px; }

.site-container.move-left .mobile-menu-icon span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%; }

.site-container.move-left .mobile-menu-icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.site-container.move-left .mobile-menu-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.site-container.move-left .mobile-menu-icon span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%; }

.site-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  -webkit-transition: background-color 300ms ease, border 300ms ease;
  transition: background-color 300ms ease, border 300ms ease;
  width: 100%;
  z-index: 100001; }
  .site-header > .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 900px) {
      .site-header > .wrap {
        position: relative; } }
  .site-header.scrolled {
    border-bottom: 1px solid #ddd;
    background-color: white; }
  .admin-bar .site-header {
    top: 46px; }
    @media (min-width: 783px) {
      .admin-bar .site-header {
        top: 32px; } }

/**
 * Title Area
 */
.title-area {
  width: 100%;
  max-width: 100px;
  min-width: 100px;
  padding: 0.375em 0; }
  @media screen and (min-width: 900px) {
    .title-area {
      max-width: 175px;
      min-width: 175px;
      padding: 0.75em 0; } }
  .header-full-width .title-area {
    width: 100%; }

.site-description,
.site-title {
  margin-bottom: 0; }

.site-title {
  font-size: 2.5em;
  font-weight: 500; }
  .site-title a:focus,
  .site-title a:hover {
    color: #D7263D; }

.site-description {
  font-family: "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 500; }

.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px; }

.header-image .site-title > a {
  background-color: transparent;
  background-image: url("assets/images/logo-light.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  min-height: 69px;
  width: 100%;
  max-width: 312px;
  opacity: 0.7;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease; }
  .header-image .site-title > a:before {
    content: '';
    background-image: url("assets/images/logo-dark.png"); }
  @media screen and (min-width: 900px) {
    .header-image .site-title > a {
      width: 100%; } }
  .header-image .site-title > a:hover {
    opacity: 1; }
  .header-image .site-title > a.scrolled {
    background-image: url("assets/images/logo-dark.png"); }

/**
 * Header Right
 */
.site-header .widget-area {
  width: 100%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media screen and (min-width: 900px) {
    .site-header .widget-area {
      padding-left: 1.5em;
      text-align: right;
      width: calc( 100% - 185px); } }
  .header-full-width .site-header .widget-area {
    width: 100%; }
  .site-header .widget-area .genesis-nav-menu {
    display: none; }
    @media screen and (min-width: 900px) {
      .site-header .widget-area .genesis-nav-menu {
        display: block; } }
  .site-header .widget-area .widget {
    margin: 0; }
    .site-header .widget-area .widget li li {
      margin-left: 0; }

.top-icon-section {
  margin-left: 1.5em; }
  .top-icon-section .searchPhoneWrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 14px 0 14px 1.5em; }
    @media (max-width: 900px) {
      .top-icon-section .searchPhoneWrap {
        border-left: none;
        margin-right: 4rem; } }
  .top-icon-section .searchIcon,
  .top-icon-section .phoneIcon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    opacity: 0.7;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .top-icon-section .searchIcon:hover,
    .top-icon-section .phoneIcon:hover {
      opacity: 1;
      cursor: pointer; }
  .top-icon-section .searchIcon svg {
    fill: transparent;
    stroke: white; }
    .scrolled .top-icon-section .searchIcon svg {
      fill: transparent;
      stroke: #333; }
  .top-icon-section .phoneIcon {
    margin-right: 1.5em; }
    .top-icon-section .phoneIcon svg {
      fill: white;
      stroke: transparent; }
      .scrolled .top-icon-section .phoneIcon svg {
        fill: #333;
        stroke: transparent; }
  .top-icon-section .phoneDesk {
    display: none; }
    @media screen and (min-width: 900px) {
      .top-icon-section .phoneDesk {
        display: block; } }
  @media screen and (min-width: 900px) {
    .top-icon-section .phonePhone {
      display: none; } }

.genesis-nav-menu {
  clear: both;
  font-family: "canada-type-gibson", "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1;
  margin: 0;
  width: 100%; }
  .genesis-nav-menu ul {
    margin: 0 !important; }

.genesis-nav-menu .menu-item {
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0;
  text-align: left; }
  .genesis-nav-menu .menu-item > a {
    color: white;
    display: block;
    padding: 0.75em;
    text-transform: uppercase;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease; }
    .scrolled .genesis-nav-menu .menu-item > a {
      color: #333; }
  .genesis-nav-menu .menu-item a:hover,
  .genesis-nav-menu .menu-item a:focus,
  .genesis-nav-menu .menu-item.current-menu-item > a,
  .genesis-nav-menu .menu-item.current-menu-ancestor > a,
  .genesis-nav-menu .menu-item.current-menu-parent > a {
    color: rgba(255, 255, 255, 0.8); }
    .scrolled .genesis-nav-menu .menu-item a:hover, .scrolled
    .genesis-nav-menu .menu-item a:focus, .scrolled
    .genesis-nav-menu .menu-item.current-menu-item > a, .scrolled
    .genesis-nav-menu .menu-item.current-menu-ancestor > a, .scrolled
    .genesis-nav-menu .menu-item.current-menu-parent > a {
      color: rgba(51, 51, 51, 0.8); }
  .genesis-nav-menu .menu-item .sub-menu {
    left: -9999px;
    opacity: 0;
    position: absolute;
    width: 200px;
    z-index: 100; }
    .genesis-nav-menu .menu-item .sub-menu a {
      background-color: white;
      color: #333;
      font-size: 1em;
      padding: 0.75em;
      position: reative;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      width: 200px; }
    .genesis-nav-menu .menu-item .sub-menu a:hover,
    .genesis-nav-menu .menu-item .sub-menu .current-menu-item > a:hover,
    .genesis-nav-menu .menu-item .sub-menu .current-menu-item > a:focus {
      color: rgba(51, 51, 51, 0.8); }
    .genesis-nav-menu .menu-item .sub-menu .sub-menu {
      margin: -41px 0 0 199px; }
    .genesis-nav-menu .menu-item .sub-menu.edge {
      left: auto;
      right: 0; }
  .genesis-nav-menu .menu-item:hover, .genesis-nav-menu .menu-item:focus {
    position: static; }
    .genesis-nav-menu .menu-item:hover > .sub-menu, .genesis-nav-menu .menu-item:focus > .sub-menu {
      left: auto;
      opacity: 1; }
  .genesis-nav-menu .menu-item:first-child > a {
    padding-left: 0; }
  .genesis-nav-menu .menu-item .sub-menu .menu-item:first-child > a {
    padding-left: 0.75em; }
  .genesis-nav-menu .menu-item:last-child > a,
  .genesis-nav-menu .menu-item.last > a {
    padding-right: 0; }
  .genesis-nav-menu .menu-item .sub-menu .menu-item:last-child > a,
  .genesis-nav-menu .menu-item .sub-menu .menu-item.last > a {
    padding-right: 0.75em; }

.nav-primary {
  display: none; }
  .nav-primary .wrap {
    width: 100%; }
  .nav-primary .sub-menu .menu-item a {
    background: white; }
  @media screen and (min-width: 900px) {
    .nav-primary {
      display: block; } }

.page-banner-slider {
  display: block;
  width: 100%; }
  .page-banner-slider .page-banner__slide {
    height: 500px; }
    .page-banner-slider .page-banner__slide > .wrap {
      height: 500px; }
  .page-banner-slider.small-height-banner .page-banner__slide {
    height: 300px; }
    .page-banner-slider.small-height-banner .page-banner__slide > .wrap {
      height: 300px; }
  .page-banner-slider.medium-height-banner .page-banner__slide {
    height: 500px; }
    .page-banner-slider.medium-height-banner .page-banner__slide > .wrap {
      height: 500px; }
  .page-banner-slider.large-height-banner .page-banner__slide {
    height: 700px; }
    .page-banner-slider.large-height-banner .page-banner__slide > .wrap {
      height: 700px; }
  .page-banner-slider.full-screen-height-banner .page-banner__slide {
    height: 100vh; }
    .page-banner-slider.full-screen-height-banner .page-banner__slide > .wrap {
      height: 100vh; }

.page-banner__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .page-banner__slide > .wrap {
    position: relative; }
  .page-banner__slide .page-banner__content {
    position: absolute;
    z-index: 10;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%; }
  .page-banner__slide .page-banner__subtitle,
  .page-banner__slide .page-banner__title {
    text-align: center;
    margin-bottom: 0;
    line-height: 1; }
  .page-banner__slide .page-banner__subtitle {
    margin-top: 0.75em; }
  .page-banner__slide.light-text .page-banner__subtitle,
  .page-banner__slide.light-text .page-banner__title {
    color: white; }
  .page-banner__slide.dark-text .page-banner__subtitle,
  .page-banner__slide.dark-text .page-banner__title {
    color: #333; }
  .page-banner__slide.video-slide video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden; }
    @media (max-width: 900px) {
      .page-banner__slide.video-slide video {
        display: none; } }
  .page-banner__slide.video-slide.slick-current video {
    visibility: visible; }
  .page-banner__slide .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
    .page-banner__slide .overlay.dark-overlay {
      background-color: rgba(0, 0, 0, 0.3); }
    .page-banner__slide .overlay.light-overlay {
      background-color: rgba(255, 255, 255, 0.3); }
  .page-banner__slide .left-arrow,
  .page-banner__slide .right-arrow {
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 100;
    opacity: 0.5;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    @media screen and (min-width: 900px) {
      .page-banner__slide .left-arrow,
      .page-banner__slide .right-arrow {
        top: 50%;
        bottom: auto; } }
    .page-banner__slide .left-arrow svg,
    .page-banner__slide .right-arrow svg {
      width: 50px;
      height: 50px;
      fill: white; }
    .page-banner__slide .left-arrow:hover,
    .page-banner__slide .right-arrow:hover {
      cursor: pointer;
      opacity: 1; }
  .page-banner__slide .left-arrow {
    left: 1.5em; }
    .page-banner__slide .left-arrow svg {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .page-banner__slide .right-arrow {
    right: 1.5em; }

/**
 * Entries
 */
.entry {
  position: relative; }

.entry-footer {
  border-top: 1px solid #ddd;
  padding-top: 1.5em; }

.entry-title {
  font-weight: 500;
  margin-bottom: 0; }
  .entry-title a {
    color: #333; }
    .entry-title a:hover, .entry-title a:focus {
      color: #D7263D; }

/**
 * Entry Meta
 */
.entry-meta {
  color: #333;
  font-size: 1em;
  margin-bottom: 0; }
  .entry-meta span,
  .entry-meta time,
  .entry-meta a {
    margin-right: 5px; }
    .entry-meta span:last-child,
    .entry-meta time:last-child,
    .entry-meta a:last-child {
      margin-right: 0; }
  .entry-meta a {
    color: #D7263D; }
    .entry-meta a:hover, .entry-meta a:focus {
      color: #801724; }

.entry-terms {
  display: block;
  padding-bottom: 5px; }
  .entry-terms:last-child {
    padding-bottom: 0; }
  .entry-terms span,
  .entry-terms time,
  .entry-terms a {
    margin-right: 0; }

.breadcrumb {
  font-size: 1em;
  margin-bottom: 0.75em; }
  .breadcrumb span:not(.breadcrumb-link-wrap) {
    padding: 0 4px; }

.sidebar {
  font-size: 1em; }

.sidebar li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em; }

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0; }

.sidebar .widget {
  background-color: white;
  margin-bottom: 3em;
  padding: 1.5em; }

.comment {
  position: relative; }
  .comment > article {
    background-color: white;
    border: 1px solid #ddd;
    border-color: #ddd;
    border-radius: 3px;
    margin-bottom: 1.5em; }
  .comment .comment {
    margin-top: 1.5em;
    padding-bottom: 0; }
    .comment .comment:last-child {
      margin-bottom: 0; }

.comment-header {
  background-color: #ddd;
  border-bottom: 1px solid #ddd;
  border-color: #ddd;
  clear: both;
  min-height: 75px;
  padding: 0.75em;
  position: relative; }
  .comment-header .comment-author {
    margin-right: 0.75em;
    font-style: italic; }
    @media screen and (min-width: 900px) {
      .comment-header .comment-author {
        margin-left: 1.5em; } }
  .comment-header p {
    display: inline-block;
    margin-bottom: 0.75em; }
  .comment-header .comment-edit-link {
    margin-left: 5px; }
  .comment-header .says {
    display: none; }

.comment .avatar {
  border: 1px solid #ddd;
  border-color: white;
  border-size: 4px;
  border-radius: 100%;
  margin-right: 0.75em; }
  @media screen and (min-width: 900px) {
    .comment .avatar {
      left: -24px;
      top: 15px;
      position: absolute;
      width: 48px; } }

.comment .children {
  border-left: 1px dashed #ddd;
  padding-left: 1.5em; }
  .comment .children header {
    padding-left: 0.75em; }
  .comment .children .avatar {
    left: -50px; }

.comment-content,
.comment-reply {
  clear: both;
  padding: 0.75em; }

.pagination {
  display: block;
  margin-bottom: 1.5em;
  text-align: center;
  clear: both; }
  .pagination li,
  .pagination .pagination-next,
  .pagination .pagination-previous {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .pagination li a,
    .pagination .pagination-next a,
    .pagination .pagination-previous a {
      display: inline-block;
      color: #333;
      padding: 0.75em 1.5em; }
    .pagination li.active, .pagination li:hover, .pagination li:focus,
    .pagination .pagination-next.active,
    .pagination .pagination-next:hover,
    .pagination .pagination-next:focus,
    .pagination .pagination-previous.active,
    .pagination .pagination-previous:hover,
    .pagination .pagination-previous:focus {
      background: #D7263D; }
      .pagination li.active a, .pagination li:hover a, .pagination li:focus a,
      .pagination .pagination-next.active a,
      .pagination .pagination-next:hover a,
      .pagination .pagination-next:focus a,
      .pagination .pagination-previous.active a,
      .pagination .pagination-previous:hover a,
      .pagination .pagination-previous:focus a {
        color: white; }
    .pagination li:hover, .pagination li:focus,
    .pagination .pagination-next:hover,
    .pagination .pagination-next:focus,
    .pagination .pagination-previous:hover,
    .pagination .pagination-previous:focus {
      border: 1px solid #ddd;
      border-color: #D7263D; }
      .pagination li:hover a, .pagination li:focus a,
      .pagination .pagination-next:hover a,
      .pagination .pagination-next:focus a,
      .pagination .pagination-previous:hover a,
      .pagination .pagination-previous:focus a {
        color: white; }
    .pagination li.pagination-omission,
    .pagination .pagination-next.pagination-omission,
    .pagination .pagination-previous.pagination-omission {
      border: 0px; }
      .pagination li.pagination-omission.active, .pagination li.pagination-omission:hover, .pagination li.pagination-omission:focus,
      .pagination .pagination-next.pagination-omission.active,
      .pagination .pagination-next.pagination-omission:hover,
      .pagination .pagination-next.pagination-omission:focus,
      .pagination .pagination-previous.pagination-omission.active,
      .pagination .pagination-previous.pagination-omission:hover,
      .pagination .pagination-previous.pagination-omission:focus {
        background: transparent; }

.site-footer {
  background-color: #ddd;
  line-height: 1.5;
  padding: 1.5em 0;
  text-align: center; }

@media screen and (min-width: 900px) {
  .footer-left {
    float: left; }
  .footer-right {
    float: right; } }

.site-footer p {
  margin-bottom: 0; }

.call-to-action.footer-cta {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  display: block;
  padding: 7.5em 0;
  position: relative;
  width: 100%; }
  .call-to-action.footer-cta .wrap {
    position: relative;
    z-index: 100; }
  .call-to-action.footer-cta .cta-content {
    color: white; }
    .call-to-action.footer-cta .cta-content p {
      font-size: 1.5em;
      margin-bottom: 1.5em; }
      .call-to-action.footer-cta .cta-content p:last-of-type {
        font-size: 1em; }
  .call-to-action.footer-cta.img-bg {
    position: relative; }
    .call-to-action.footer-cta.img-bg:before {
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      background-color: rgba(51, 51, 51, 0.7);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .call-to-action.footer-cta.img-bg .wrap {
      position: relative;
      z-index: 100; }
  .call-to-action.footer-cta.video-bg {
    position: relative;
    overflow: hidden; }
    .call-to-action.footer-cta.video-bg:before {
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      background-color: rgba(51, 51, 51, 0.7);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .call-to-action.footer-cta.video-bg .wrap {
      position: relative;
      z-index: 100; }
    @media screen and (min-width: 900px) {
      .call-to-action.footer-cta.video-bg {
        position: relative; }
        .call-to-action.footer-cta.video-bg:before {
          -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
          background-color: rgba(51, 51, 51, 0);
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%; }
        .call-to-action.footer-cta.video-bg .wrap {
          position: relative;
          z-index: 100; } }
    .call-to-action.footer-cta.video-bg .autoplay-video {
      bottom: 0;
      display: none;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%; }
      @media screen and (min-width: 900px) {
        .call-to-action.footer-cta.video-bg .autoplay-video {
          display: block; } }

.error404 .site-inner {
  display: inline-block;
  width: 100%; }

.error404 .content {
  background-color: white; }

.error404 .section-404 {
  padding: 4em 0;
  text-align: center; }
  @media screen and (min-width: 900px) {
    .error404 .section-404 {
      padding: 6.25em 0; } }
  .error404 .section-404 input {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center; }

.header-search-box {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: none; }
  .header-search-box .inner-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-search-box.search-is-open {
    background-color: white;
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 1.5em; }
    .scrolled .header-search-box.search-is-open {
      border-bottom: 1px solid #ddd; }
    .header-search-box.search-is-open input {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      margin: 0; }
    .header-search-box.search-is-open input[type='submit'] {
      display: none; }
    .header-search-box.search-is-open .header-search-box__close-search {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: auto;
      position: absolute;
      right: 1.5em;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 40px; }
      .header-search-box.search-is-open .header-search-box__close-search:hover {
        cursor: pointer; }

.footer-widgets {
  background-color: #ddd;
  clear: both;
  position: relative;
  padding: 3em 0; }
  .footer-widgets .menu-item a {
    color: #999;
    position: relative;
    padding-bottom: 4px;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease; }
    .footer-widgets .menu-item a:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: #1565c0;
      opacity: 0;
      -webkit-transition: opacity 300ms ease;
      transition: opacity 300ms ease; }
    .footer-widgets .menu-item a:hover {
      color: #1565c0; }
      .footer-widgets .menu-item a:hover:before {
        opacity: 1; }
  .footer-widgets .widget-title.widgettitle {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase; }
  @media screen and (min-width: 900px) {
    .footer-widgets {
      padding: 5.125em 0; } }
  .footer-widgets ul.menu {
    margin-bottom: 0.75em;
    padding: 0; }
  .footer-widgets li {
    list-style-type: none; }
  .footer-widgets .widget-area {
    width: 100%;
    margin-bottom: 1.5em;
    text-align: center; }
    @media screen and (min-width: 600px) {
      .footer-widgets .widget-area {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .footer-widgets .widget-area:last-child {
          margin-right: 0; }
        .footer-widgets .widget-area:nth-child(4n) {
          margin-right: 2.35765%; }
        .footer-widgets .widget-area:nth-child(4n+1) {
          clear: none; }
        .footer-widgets .widget-area:nth-child(2n) {
          margin-right: 0; }
        .footer-widgets .widget-area:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 900px) {
      .footer-widgets .widget-area {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-bottom: 0; }
        .footer-widgets .widget-area:last-child {
          margin-right: 0; }
        .footer-widgets .widget-area:nth-child(2n) {
          margin-right: 2.35765%; }
        .footer-widgets .widget-area:nth-child(2n+1) {
          clear: none; }
        .footer-widgets .widget-area:nth-child(4n) {
          margin-right: 0; }
        .footer-widgets .widget-area:nth-child(4n+1) {
          clear: left; } }
    .footer-widgets .widget-area .widget {
      display: inline-block;
      text-align: left;
      clear: both;
      min-width: 51%; }

.social-links {
  background-color: #ddd;
  clear: both;
  position: relative; }
  .social-links li {
    display: inline; }
  .social-links svg {
    background: #c7c7c7;
    fill: #fff;
    height: 30px;
    margin-right: 5px;
    padding: 5px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 30px; }
    .social-links svg:hover {
      background: #D7263D; }

.widget_media_image img {
  display: block; }

.post-type-archive-testimonial .testimonial-block {
  background-color: #ddd;
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 2rem;
  width: 100%; }
  .post-type-archive-testimonial .testimonial-block:last-of-type {
    margin-bottom: 0px; }

.slick-slider {
  background: url("assets/images/loader.gif"); }

.slick-slider .slick-list {
  opacity: 0;
  position: absolute; }

.slick-slider.slick-initialized {
  background: none; }

.slick-slider.slick-initialized .slick-list {
  opacity: 1;
  position: relative;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in; }

li.wc_payment_method {
  list-style-type: none; }

.woocommerce-page .wrap {
  background-color: transparent !important; }

.woocommerce-page .site-inner {
  background-color: white; }

.woocommerce-page .add_to_cart_button,
.woocommerce-page .product_type_grouped {
  background-color: #1565c0 !important;
  color: white !important;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease; }
  .woocommerce-page .add_to_cart_button:hover,
  .woocommerce-page .product_type_grouped:hover {
    background-color: #11519a !important; }

.woocommerce-page #reviews .avatar {
  display: none; }

.woocommerce-page #reviews .comment-text {
  margin-left: 0 !important; }

.woocommerce-page #reviews li {
  list-style: none; }

.woocommerce-page .woocommerce-message {
  border-top-color: #1565c0; }

.woocommerce form .form-row label {
  font-weight: 100;
  line-height: 1.5 !important; }

.woocommerce-error li:before {
  display: none; }

.woocommerce-cart.woocommerce-page .wrap {
  background-color: white; }

.woocommerce-cart.woocommerce-page .entry-header a.button {
  display: inline-block;
  float: right; }
  @media (max-width: 350px) {
    .woocommerce-cart.woocommerce-page .entry-header a.button {
      font-size: 0.875em;
      margin-bottom: 0.75em; } }

@media (max-width: 600px) {
  .woocommerce-cart.woocommerce-page .coupon input {
    width: 100% !important; }
  .woocommerce-cart.woocommerce-page .coupon input[type="submit"] {
    margin-top: 0.375em; } }

.woocommerce-cart.woocommerce-page .entry {
  margin-bottom: 0; }

.woocommerce-cart.woocommerce-page .cart_item {
  margin-bottom: 1.5em; }
  .woocommerce-cart.woocommerce-page .cart_item:nth-child(even) {
    background-color: #ddd; }

.woocommerce-cart.woocommerce-page .cart-collaterals .cart_totals {
  float: none !important;
  width: auto !important; }

.woocommerce-cart.woocommerce-page .checkout-button {
  background-color: #1565c0 !important;
  color: white !important;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease; }
  .woocommerce-cart.woocommerce-page .checkout-button:hover {
    background-color: #11519a !important; }

.woocommerce-cart.woocommerce-page .quantity input[type="number"] {
  padding: 7.5px !important;
  width: 100% !important; }

.woocommerce table.shop_table thead {
  background-color: #ddd !important; }

.woocommerce table.shop_table tr:nth-child(even), .woocommerce table.shop_table tr.order_item:nth-child(odd) {
  background-color: #ddd !important; }

.woocommerce table.shop_table tr.cart-subtotal {
  background-color: #ddd !important; }

.woocommerce table.shop_table th {
  border: none !important; }

.woocommerce table.shop_table td {
  border: none !important; }
  .woocommerce table.shop_table td.actions {
    background-color: white !important;
    border-top: 1px solid #ddd !important; }

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  padding-bottom: 7.5px !important;
  padding-top: 7.5px !important; }
  @media screen and (min-width: 600px) {
    .woocommerce #content table.cart td.actions .input-text,
    .woocommerce table.cart td.actions .input-text,
    .woocommerce-page #content table.cart td.actions .input-text,
    .woocommerce-page table.cart td.actions .input-text {
      width: auto !important; } }

#shipping_method li {
  list-style: none !important; }
  #shipping_method li:before {
    display: none; }
  #shipping_method li label {
    font-weight: 300 !important; }

#payment {
  background-color: #ddd !important;
  margin-top: 3em; }
  #payment ul {
    border-color: #333 !important; }
  #payment .payment_box:after,
  #payment .payment_box:before,
  #payment li:before {
    display: none !important; }
  #payment #place_order {
    display: block;
    margin-bottom: 0 !important;
    font-size: 1.25em;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    width: 100%;
    background-color: #1565c0 !important;
    color: white !important; }
    #payment #place_order:hover, #payment #place_order:focus {
      background-color: #ac1e31 !important;
      color: #fff !important; }

#order_review_heading {
  margin-top: 1.5em; }

.wc_payment_methods {
  border-bottom: 0px !important; }
  .wc_payment_methods .upper-details {
    display: inline-block;
    width: 100%; }
    .wc_payment_methods .upper-details input[type="radio"],
    .wc_payment_methods .upper-details label {
      display: block !important;
      float: left !important; }
    .wc_payment_methods .upper-details input[type="radio"] {
      margin-top: 6px !important; }
    .wc_payment_methods .upper-details a {
      margin-left: 0.75em; }
  .wc_payment_methods .lower-details {
    display: inline-block;
    width: 100%; }
    .wc_payment_methods .lower-details input {
      background-color: white !important; }
  .wc_payment_methods .payment_box {
    margin-top: 0px !important; }

#ship-to-different-address {
  position: relative; }
  #ship-to-different-address label {
    display: inline-block;
    font-size: 20px !important;
    font-weight: 300 !important;
    margin-bottom: 0 !important;
    margin-left: 1.125em; }
  #ship-to-different-address #ship-to-different-address-checkbox {
    left: 0;
    position: absolute;
    top: 40%; }

.woocommerce-pagination ul,
.woocommerce-pagination li {
  border: none !important; }
  .woocommerce-pagination ul .current,
  .woocommerce-pagination li .current {
    background-color: #1565c0 !important;
    color: white !important; }
  .woocommerce-pagination ul .page-numbers,
  .woocommerce-pagination li .page-numbers {
    background-color: #333;
    color: white !important;
    margin-right: 4px !important;
    padding: 6px 10px !important;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .woocommerce-pagination ul .page-numbers:hover,
    .woocommerce-pagination li .page-numbers:hover {
      background-color: #1565c0 !important; }

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  font-family: "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.125em; }

.woocommerce mark {
  display: none; }

.woocommerce .product-category img {
  margin-bottom: 0 !important; }

.woocommerce .product-category h3 {
  font-weight: bold;
  max-width: 100% !important; }

.woocommerce .product-category:hover h3 {
  color: #ac1e31 !important; }

.woocommerce .products {
  margin: 1.5em 0 !important; }

.woocommerce ul.products li.product {
  background-color: transparent;
  margin-bottom: 0.75em !important; }
  @media (max-width: 600px) {
    .woocommerce ul.products li.product {
      margin-left: 0;
      margin-right: 0;
      width: 100% !important; } }
  .woocommerce ul.products li.product img {
    margin-bottom: 0 !important; }
  .woocommerce ul.products li.product .product-lower {
    position: relative; }
  .woocommerce ul.products li.product h3 {
    color: #333;
    max-width: 60%; }
  .woocommerce ul.products li.product .star-rating {
    display: none; }
  .woocommerce ul.products li.product .price {
    color: #333 !important; }
  .woocommerce ul.products li.product .button {
    margin: 0.1875em auto !important;
    text-align: center;
    width: 100%; }
  .woocommerce ul.products li.product .added_to_cart {
    margin-bottom: 0.375em !important; }
  .woocommerce ul.products li.product:hover .button {
    background-color: #ac1e31; }

.woocommerce.single-product .woocommerce-message {
  background-color: #d2d2d2; }
  .woocommerce.single-product .woocommerce-message .button {
    background-color: #1565c0 !important;
    color: white !important;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease; }
    .woocommerce.single-product .woocommerce-message .button:hover {
      background-color: #11519a !important; }

.woocommerce.single-product .product {
  background-color: transparent; }

.woocommerce.single-product .summary h1 {
  border-top: none;
  line-height: 1;
  margin-bottom: 0.375em; }

.woocommerce.single-product .summary .woocommerce-product-rating {
  margin-bottom: 0.75em; }

.woocommerce.single-product .summary .woocommerce-Price-amount {
  color: #333; }

.woocommerce.single-product .summary .quantity input.qty {
  padding: 7.5px !important; }

.woocommerce.single-product .summary .price {
  margin-bottom: 0.75em; }

.woocommerce.single-product .summary .cart {
  margin-bottom: 0.75em; }

.woocommerce.single-product .summary .product-addon {
  margin: 0 !important;
  margin-bottom: 0.75em !important; }
  .woocommerce.single-product .summary .product-addon:first-of-type {
    margin-top: 0.75em !important; }

.woocommerce.single-product .summary .addon-name {
  font-size: 1.125em !important;
  margin-bottom: 0.375em !important;
  font-weight: 400 !important; }

.woocommerce.single-product .summary abbr[title] {
  border-bottom: none !important; }

.woocommerce.single-product .summary form .form-row {
  padding: 0px !important; }
  .woocommerce.single-product .summary form .form-row label {
    font-weight: 200 !important;
    font-size: 0.875em; }
    .woocommerce.single-product .summary form .form-row label input {
      margin-top: 0.1875em; }
    .woocommerce.single-product .summary form .form-row label small {
      display: none; }

.woocommerce.single-product .single_add_to_cart_button {
  background-color: #1565c0 !important;
  color: white !important;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease; }
  .woocommerce.single-product .single_add_to_cart_button:hover {
    background-color: #11519a !important; }

@media (max-width: 600px) {
  .woocommerce.single-product .wc-tabs {
    width: 100%; }
    .woocommerce.single-product .wc-tabs li {
      width: 100%; }
      .woocommerce.single-product .wc-tabs li a {
        width: 100%; } }

dl.product-addon-totals dt {
  margin-top: 0px !important; }

.woocommerce-order-received .shop_table.order_details .order_item:nth-child(even) {
  background-color: #ddd !important; }

.woocommerce-order-received .shop_table.order_details .order_item:nth-child(odd) {
  background-color: white !important; }

.woocommerce-order-received .shop_table.order_details tfoot tr:first-child {
  background-color: #ddd !important; }

.woocommerce-order-received .order_details {
  margin-left: 0 !important;
  margin-top: 1.5em !important; }
  .woocommerce-order-received .order_details li {
    margin-left: 0 !important;
    border-right-color: #333 !important;
    border-right-style: solid !important; }
    .woocommerce-order-received .order_details li:before {
      display: none; }
    .woocommerce-order-received .order_details li:last-of-type {
      border-right: none !important; }

/**
 * Sections
 */
.accordion-row-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .accordion-row-header:hover .ac-row-title, .accordion-row-header.active-ar .ac-row-title {
    color: #D7263D; }
  .accordion-row-header:hover .ac-row-toggle:before, .accordion-row-header:hover .ac-row-toggle:after, .accordion-row-header.active-ar .ac-row-toggle:before, .accordion-row-header.active-ar .ac-row-toggle:after {
    background: #D7263D; }

.ac-row-title {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  max-width: 84%; }

.ac-row-toggle {
  position: relative; }
  .ac-row-toggle:before, .ac-row-toggle:after {
    background: #333;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    top: -2px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 14px; }
  .ac-row-toggle:before {
    right: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .ac-row-toggle:after {
    right: 7px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .active-ar .ac-row-toggle:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .active-ar .ac-row-toggle:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.accordion-row-content {
  display: none; }

.accordions-columns-wrap .accordions-wrap-right {
  margin-top: 0.75em; }

.page-section-stories {
  overflow: hidden; }
  .page-section-stories h5 {
    font-weight: 600; }
  .page-section-stories .stories {
    width: 100%; }
  .page-section-stories .story {
    background-color: #1565c0;
    border-radius: 3px;
    display: block;
    margin-bottom: 1.5em; }
    .page-section-stories .story img {
      display: block; }
  .page-section-stories .story-number,
  .page-section-stories .story-title,
  .page-section-stories p {
    color: #ddd; }
  .page-section-stories .story-blurb {
    padding: 1.5em; }
  .page-section-stories .story-number {
    clear: both;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 5px; }
  @media screen and (min-width: 600px) {
    .page-section-stories .stories .story {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .page-section-stories .stories .story:last-child {
        margin-right: 0; }
      .page-section-stories .stories .story:nth-child(2n) {
        margin-right: 0; }
      .page-section-stories .stories .story:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 900px) {
    .page-section-stories.three-posts .stories .story {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .page-section-stories.three-posts .stories .story:last-child {
        margin-right: 0; }
      .page-section-stories.three-posts .stories .story:nth-child(3n) {
        margin-right: 0; }
      .page-section-stories.three-posts .stories .story:nth-child(3n+1) {
        clear: left; }
      .page-section-stories.three-posts .stories .story:nth-child(2n) {
        margin-right: 2.35765%; }
      .page-section-stories.three-posts .stories .story:nth-child(2n+1) {
        clear: none; }
    .page-section-stories.two-posts .stories .story {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .page-section-stories.two-posts .stories .story:last-child {
        margin-right: 0; }
      .page-section-stories.two-posts .stories .story:nth-child(2n) {
        margin-right: 0; }
      .page-section-stories.two-posts .stories .story:nth-child(2n+1) {
        clear: left; }
    .page-section-stories.four-posts .stories .story {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .page-section-stories.four-posts .stories .story:last-child {
        margin-right: 0; }
      .page-section-stories.four-posts .stories .story:nth-child(2n) {
        margin-right: 0; }
      .page-section-stories.four-posts .stories .story:nth-child(2n+1) {
        clear: left; } }

#flexible-section-repeater .content-section p:last-child {
  margin-bottom: 0; }

#flexible-section-repeater .content-section .l-content,
#flexible-section-repeater .content-section .r-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  #flexible-section-repeater .content-section .l-content:last-child,
  #flexible-section-repeater .content-section .r-content:last-child {
    margin-right: 0; }

#flexible-section-repeater .content-section .l-content,
#flexible-section-repeater .content-section.thirty-three .r-content {
  margin-bottom: 3em; }
  @media screen and (min-width: 900px) {
    #flexible-section-repeater .content-section .l-content,
    #flexible-section-repeater .content-section.thirty-three .r-content {
      margin-bottom: 0; } }

@media screen and (min-width: 900px) {
  #flexible-section-repeater .content-section.fifty-fifty .l-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #flexible-section-repeater .content-section.fifty-fifty .l-content:last-child {
      margin-right: 0; }
  #flexible-section-repeater .content-section.fifty-fifty .r-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0; }
    #flexible-section-repeater .content-section.fifty-fifty .r-content:last-child {
      margin-right: 0; }
  #flexible-section-repeater .content-section.thirty-seventy .l-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #flexible-section-repeater .content-section.thirty-seventy .l-content:last-child {
      margin-right: 0; }
  #flexible-section-repeater .content-section.thirty-seventy .r-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0; }
    #flexible-section-repeater .content-section.thirty-seventy .r-content:last-child {
      margin-right: 0; }
  #flexible-section-repeater .content-section.seventy-thirty .l-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    #flexible-section-repeater .content-section.seventy-thirty .l-content:last-child {
      margin-right: 0; }
  #flexible-section-repeater .content-section.seventy-thirty .r-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0; }
    #flexible-section-repeater .content-section.seventy-thirty .r-content:last-child {
      margin-right: 0; }
  #flexible-section-repeater .content-section.thirty-three .l-content,
  #flexible-section-repeater .content-section.thirty-three .r-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #flexible-section-repeater .content-section.thirty-three .l-content:last-child,
    #flexible-section-repeater .content-section.thirty-three .r-content:last-child {
      margin-right: 0; }
  #flexible-section-repeater .content-section.thirty-three .third-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0; }
    #flexible-section-repeater .content-section.thirty-three .third-content:last-child {
      margin-right: 0; } }

.cta-section.page-flexible-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .cta-section.page-flexible-section .section-title {
    margin-top: 0; }

.cta-content {
  text-align: center;
  padding: 6em 0;
  position: relative;
  z-index: 100;
  color: white; }

.cta-overlay {
  background-color: #333;
  opacity: 0.5;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

#flexible-section-repeater .informational-cta-section {
  position: relative;
  background: #ddd; }
  #flexible-section-repeater .informational-cta-section p:last-of-type {
    margin-bottom: 0px; }
  #flexible-section-repeater .informational-cta-section.wrap {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  #flexible-section-repeater .informational-cta-section .wrap {
    position: static; }
  #flexible-section-repeater .informational-cta-section .item {
    width: 100%; }
    @media screen and (min-width: 900px) {
      #flexible-section-repeater .informational-cta-section .item {
        width: 50%; } }
    #flexible-section-repeater .informational-cta-section .item.content-section {
      padding-top: 4em;
      padding-bottom: 4em; }
      #flexible-section-repeater .informational-cta-section .item.content-section p {
        font-size: 1em; }
      @media screen and (min-width: 900px) {
        #flexible-section-repeater .informational-cta-section .item.content-section {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          padding: 6em 4em 6em 0; }
          #flexible-section-repeater .informational-cta-section .item.content-section:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 900px) {
        #flexible-section-repeater .informational-cta-section .item.content-section.right {
          margin-left: 51.17883%;
          padding-left: 4em;
          padding-right: 0; } }
    #flexible-section-repeater .informational-cta-section .item.image {
      background-color: black;
      position: relative;
      height: 400px; }
      @media screen and (min-width: 900px) {
        #flexible-section-repeater .informational-cta-section .item.image {
          display: block;
          position: absolute;
          width: 50%;
          height: 100%; }
          #flexible-section-repeater .informational-cta-section .item.image.left {
            left: 50%; }
          #flexible-section-repeater .informational-cta-section .item.image.right {
            right: 50%; } }
      #flexible-section-repeater .informational-cta-section .item.image .bg {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat; }
        #flexible-section-repeater .informational-cta-section .item.image .bg.has-content-over {
          opacity: 0.6; }

.icon-blurb-section .upper-content,
.icon-blurb-section .bottom-content {
  text-align: center;
  clear: both; }

.icon-blurb-section .icon-blurb-grid .blurb svg {
  fill: #1565c0;
  height: auto;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 3.75em; }

.icon-blurb-section .icon-blurb-grid .blurb .inner-blurb {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

.icon-blurb-section .icon-blurb-grid .blurb:hover a .inner-blurb {
  opacity: 0.6; }

.logos-section {
  padding: 6em 0; }
  .logos-section .section-title {
    margin-top: 0;
    font-size: 1.75em; }
  .logos-section .section-post-title {
    margin-bottom: 0; }
  .logos-section .left-side {
    display: inline-block;
    width: 100%;
    margin-bottom: 3em; }
    @media screen and (min-width: 900px) {
      .logos-section .left-side {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-bottom: 0; }
        .logos-section .left-side:last-child {
          margin-right: 0; } }
  .logos-section .right-side {
    display: inline-block;
    width: 100%; }
    @media screen and (min-width: 900px) {
      .logos-section .right-side {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-right: 0; }
        .logos-section .right-side:last-child {
          margin-right: 0; } }
  .logos-section .logo-block img {
    display: block; }

#flexible-section-repeater .page-flexible-section.has-top-padding {
  margin-top: 4em; }

#flexible-section-repeater .page-flexible-section.has-bot-padding {
  margin-bottom: 4em; }

@media screen and (min-width: 900px) {
  #flexible-section-repeater .page-flexible-section.has-top-padding {
    margin-top: 6.25em; }
  #flexible-section-repeater .page-flexible-section.has-bot-padding {
    margin-bottom: 6.25em; } }

#flexible-section-repeater .color.primary {
  background-color: #D7263D; }

#flexible-section-repeater .color.blue {
  background-color: #1565c0; }

#flexible-section-repeater .color.light-gray {
  background-color: #ddd; }

#flexible-section-repeater .color.medium-gray {
  background-color: #999; }

#flexible-section-repeater .color.dark-gray {
  background-color: #333; }

#flexible-section-repeater .color.white {
  background-color: white; }

.section-title {
  margin: 0 0 0.75em;
  line-height: 1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (min-width: 600px) {
    .section-title {
      font-size: 3em; } }

.section-pre-title {
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-bottom: 0; }

.section-sub-title {
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

.section-post-title {
  margin-bottom: 1rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

.dark .section-pre-title,
.dark .section-sub-title,
.dark .section-title,
.dark .section-post-title {
  color: #333; }

.light .section-pre-title,
.light .section-sub-title,
.light .section-title,
.light .section-post-title {
  color: white; }

.tile-blocks {
  overflow: auto; }
  @media screen and (min-width: 900px) {
    .tile-blocks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.tile-block {
  padding: 4.5em 3em;
  position: relative; }
  @media screen and (min-width: 900px) {
    .tile-block {
      min-height: 300px; } }
  .tile-block .tile-block-excerpt {
    position: relative;
    z-index: 100; }
    .tile-block .tile-block-excerpt h1,
    .tile-block .tile-block-excerpt h2,
    .tile-block .tile-block-excerpt h3,
    .tile-block .tile-block-excerpt h4,
    .tile-block .tile-block-excerpt h5,
    .tile-block .tile-block-excerpt h6 {
      margin-bottom: 0.9375em;
      font-weight: 700;
      font-family: "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
    .tile-block .tile-block-excerpt p {
      font-size: 1.125em;
      margin-bottom: 10px; }
  .tile-block.has-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .tile-block.has-image:before {
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      background-color: rgba(51, 51, 51, 0.5);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .tile-block.has-image .wrap {
      position: relative;
      z-index: 100; }
    .tile-block.has-image .tile-block-excerpt {
      color: white; }
  .tile-block.solid.primary {
    background-color: #D7263D; }
    .tile-block.solid.primary .tile-block-excerpt {
      color: white; }
  .tile-block.solid.white {
    background-color: white;
    border: 1px solid #333; }
    .tile-block.solid.white .tile-block-excerpt {
      color: #333; }

.photo-grid-section .photo-grid-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 300px;
  -webkit-transition: all 300ms ease-in-out !important;
  transition: all 300ms ease-in-out !important; }
  .photo-grid-section .photo-grid-grid .section.gallery {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .photo-grid-section .photo-grid-grid .section.gallery {
        -moz-flex-grow: 1;
        -webkit-box-flex: 1;
                flex-grow: 1;
        -ms-flex-positive: 1;
        width: 33.33333%; } }

.photo-grid-section .grid-section-image {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px; }
  .photo-grid-section .grid-section-image:before {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-color: rgba(51, 51, 51, 0.7);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .photo-grid-section .grid-section-image .wrap {
    position: relative;
    z-index: 100; }
  .photo-grid-section .grid-section-image:before {
    background-image: url("assets/icons/src/icon_mag.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 10; }
  .photo-grid-section .grid-section-image:after {
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    visibility: hidden; }
  .photo-grid-section .grid-section-image:hover:after, .photo-grid-section .grid-section-image:hover:before {
    opacity: 1;
    visibility: visible; }

.ribbon-cta-section {
  background-color: #ddd;
  display: block;
  position: relative; }
  .ribbon-cta-section:hover .arrow-link {
    width: 20%; }
  .ribbon-cta-section .wrap {
    margin: 0 auto;
    max-width: 980px; }
  .ribbon-cta-section .ribbon-text {
    display: block;
    padding-bottom: 3em;
    padding-top: 3em;
    text-align: center; }
    @media screen and (min-width: 900px) {
      .ribbon-cta-section .ribbon-text {
        padding-right: 35%;
        text-align: left; } }
  .ribbon-cta-section .top-text,
  .ribbon-cta-section .bottom-text {
    color: white;
    line-height: 1;
    margin-bottom: 0; }
  .ribbon-cta-section .top-text {
    font-size: 1.875em;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .ribbon-cta-section .bottom-text {
    font-size: 3em;
    font-family: "freight-text-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 300;
    text-transform: uppercase; }
  .ribbon-cta-section .arrow-link {
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
    background: #D7263D;
    display: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 25%; }
    @media screen and (min-width: 900px) {
      .ribbon-cta-section .arrow-link {
        display: block; } }
    .ribbon-cta-section .arrow-link .inner-arrow-link {
      -webkit-transform: skew(20deg);
              transform: skew(20deg);
      display: block;
      height: 100%;
      position: relative;
      width: 100%; }
      .ribbon-cta-section .arrow-link .inner-arrow-link svg {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        fill: white;
        height: 35px;
        width: auto;
        left: 50%;
        position: absolute;
        top: 50%;
        width: auto; }
      .ribbon-cta-section .arrow-link .inner-arrow-link:after {
        -webkit-transform: skew(-20deg);
                transform: skew(-20deg);
        background-color: #D7263D;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: -38px;
        width: 40px; }

.image-grid-section .outer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.image-grid-section .image-grid-block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  height: 325px;
  width: 50%; }
  .image-grid-section .image-grid-block:nth-child(2), .image-grid-section .image-grid-block:nth-child(3) {
    border-top: 10px solid #fff; }
  .image-grid-section .image-grid-block:nth-child(4), .image-grid-section .image-grid-block:nth-child(5), .image-grid-section .image-grid-block:nth-child(6) {
    border-bottom: 10px solid #fff; }
  .image-grid-section .image-grid-block:nth-child(6) {
    border-top: 0px; }
  .image-grid-section .image-grid-block.image-link-block, .image-grid-section .image-grid-block.image-content-block {
    width: 100%; }
  @media screen and (min-width: 900px) {
    .image-grid-section .image-grid-block {
      width: 25%; }
      .image-grid-section .image-grid-block.image-link-block, .image-grid-section .image-grid-block.image-content-block {
        width: 50%; }
      .image-grid-section .image-grid-block:nth-child(1), .image-grid-section .image-grid-block:nth-child(4) {
        border-left: 10px solid #fff; }
      .image-grid-section .image-grid-block:nth-child(3), .image-grid-section .image-grid-block:nth-child(6) {
        border-right: 10px solid #fff; }
      .image-grid-section .image-grid-block:nth-child(6) {
        border-top: 5px solid #fff; } }
  .image-grid-section .image-grid-block.image-content-block {
    padding: 4em; }
    .image-grid-section .image-grid-block.image-content-block h2 {
      margin-bottom: 1.125em; }
  .image-grid-section .image-grid-block.image-link-block {
    position: relative; }
    .image-grid-section .image-grid-block.image-link-block .image-link-content {
      position: absolute;
      text-align: center;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%; }

/**
 * Gutenberg Blocks
 */
.wp-block-cover-image {
  background-position: center; }
  .wp-block-cover-image h2 {
    margin-bottom: 0; }

/**
* Utilities
*/
.bbr {
  border-radius: 3px; }

.bbrtl {
  border-top-left-radius: 3px; }

.bbrtr {
  border-top-right-radius: 3px; }

.bbrbr {
  border-bottom-right-radius: 3px; }

.bbrbl {
  border-bottom-right-radius: 3px; }

.br50 {
  border-radius: 50%; }

.base-border {
  border: 1px solid #ddd; }

.base-border-top {
  border-top: 1px solid #ddd; }

.base-border-bottom {
  border-bottom: 1px solid #ddd; }

.base-border-left {
  border-left: 1px solid #ddd; }

.base-border-right {
  border-right: 1px solid #ddd; }

.bg-action {
  background-color: #D7263D; }

.bg-dark-gray {
  background-color: #333; }

.bg-light-gray {
  background-color: #ddd; }

.bg-medium-gray {
  background-color: #999; }

.bg-primary {
  background-color: #1565c0; }

.bg-white {
  background-color: white; }

.f16 {
  font-size: 1em; }

.f18 {
  font-size: 1.125em; }

.f20 {
  font-size: 1.25em; }

.f22 {
  font-size: 1.375em; }

.f24 {
  font-size: 1.5em; }

.f26 {
  font-size: 1.625em; }

.f28 {
  font-size: 1.75em; }

.f30 {
  font-size: 1.875em; }

.f32 {
  font-size: 2em; }

.f34 {
  font-size: 2.125em; }

.f36 {
  font-size: 2.25em; }

.f38 {
  font-size: 2.375em; }

.f40 {
  font-size: 2.5em; }

.f42 {
  font-size: 2.625em; }

.f44 {
  font-size: 2.75em; }

.f46 {
  font-size: 2.875em; }

.f48 {
  font-size: 3em; }

.f60 {
  font-size: 3.75em; }

.f90 {
  font-size: 5.625em; }

.fwb {
  font-weight: bold; }

.one23grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 600px) {
    .one23grid {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .one23grid > div,
  .one23grid > a {
    margin-top: 2%;
    width: 100%; }
    .one23grid > div:nth-child(1),
    .one23grid > a:nth-child(1) {
      margin-top: 0; }
    @media screen and (min-width: 600px) {
      .one23grid > div,
      .one23grid > a {
        width: 49%;
        margin-left: 2%; }
        .one23grid > div:nth-child(2),
        .one23grid > a:nth-child(2) {
          margin-top: 0; }
        .one23grid > div:nth-child(2n+1), .one23grid > div:nth-child(1),
        .one23grid > a:nth-child(2n+1),
        .one23grid > a:nth-child(1) {
          margin-left: 0; } }
    @media screen and (min-width: 900px) {
      .one23grid > div,
      .one23grid > a {
        width: 32%; }
        .one23grid > div:nth-child(3),
        .one23grid > a:nth-child(3) {
          margin-top: 0; }
        .one23grid > div:nth-child(2n + 1),
        .one23grid > a:nth-child(2n + 1) {
          margin-left: 2%; }
        .one23grid > div:nth-child(3n+1),
        .one23grid > a:nth-child(3n+1) {
          margin-left: 0; } }

.one3grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 900px) {
    .one3grid {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .one3grid > div,
  .one3grid > a {
    margin-top: 2%;
    width: 100%; }
    .one3grid > div:nth-child(1),
    .one3grid > a:nth-child(1) {
      margin-top: 0; }
    @media screen and (min-width: 900px) {
      .one3grid > div,
      .one3grid > a {
        width: 32%; }
        .one3grid > div:nth-child(3),
        .one3grid > a:nth-child(3) {
          margin-top: 0; }
        .one3grid > div:nth-child(2n + 1), .one3grid > div:nth-child(2n),
        .one3grid > a:nth-child(2n + 1),
        .one3grid > a:nth-child(2n) {
          margin-left: 2%; }
        .one3grid > div:nth-child(3n+1),
        .one3grid > a:nth-child(3n+1) {
          margin-left: 0; } }

.one2grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 600px) {
    .one2grid {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .one2grid > div,
  .one2grid > a {
    margin-top: 2%;
    width: 100%; }
    .one2grid > div:nth-child(1),
    .one2grid > a:nth-child(1) {
      margin-top: 0; }
    @media screen and (min-width: 600px) {
      .one2grid > div,
      .one2grid > a {
        width: 49%;
        margin-left: 2%; }
        .one2grid > div:nth-child(2),
        .one2grid > a:nth-child(2) {
          margin-top: 0; }
        .one2grid > div:nth-child(2n+1), .one2grid > div:nth-child(1),
        .one2grid > a:nth-child(2n+1),
        .one2grid > a:nth-child(1) {
          margin-left: 0; } }

.one2gridlarge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 900px) {
    .one2gridlarge {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .one2gridlarge > div,
  .one2gridlarge > a {
    margin-top: 2%;
    width: 100%; }
    .one2gridlarge > div:nth-child(1),
    .one2gridlarge > a:nth-child(1) {
      margin-top: 0; }
    @media screen and (min-width: 900px) {
      .one2gridlarge > div,
      .one2gridlarge > a {
        width: 49%;
        margin-left: 2%; }
        .one2gridlarge > div:nth-child(2),
        .one2gridlarge > a:nth-child(2) {
          margin-top: 0; }
        .one2gridlarge > div:nth-child(2n+1), .one2gridlarge > div:nth-child(1),
        .one2gridlarge > a:nth-child(2n+1),
        .one2gridlarge > a:nth-child(1) {
          margin-left: 0; } }

.mb0 {
  margin-bottom: 0; }

.lmb0 > :last-child {
  margin-bottom: 0; }

.lotmb0:last-of-type {
  margin-bottom: 0; }

.mlra {
  margin-left: auto;
  margin-right: auto; }

.smallmt {
  margin-top: 0.75em; }

.basemt {
  margin-top: 1.5em; }

.basemt2 {
  margin-top: 3em; }

.basemt3 {
  margin-top: 4.5em; }

.sectionmt {
  margin-top: 4em; }
  @media screen and (min-width: 900px) {
    .sectionmt {
      margin-top: 6.25em; } }

.smallml {
  margin-left: 0.75em; }

.baseml {
  margin-left: 1.5em; }

.baseml2 {
  margin-left: 3em; }

.baseml3 {
  margin-left: 4.5em; }

.sectionml {
  margin-left: 4em; }
  @media screen and (min-width: 900px) {
    .sectionml {
      margin-left: 6.25em; } }

.smallmr {
  margin-right: 0.75em; }

.basemr {
  margin-right: 1.5em; }

.basemr2 {
  margin-right: 3em; }

.basemr3 {
  margin-right: 4.5em; }

.sectionmr {
  margin-right: 4em; }
  @media screen and (min-width: 900px) {
    .sectionmr {
      margin-right: 6.25em; } }

.smallmb {
  margin-bottom: 0.75em; }

.basemb {
  margin-bottom: 1.5em; }

.basemb2 {
  margin-bottom: 3em; }

.basemb3 {
  margin-bottom: 4.5em; }

.sectionmb {
  margin-bottom: 4em; }
  @media screen and (min-width: 900px) {
    .sectionmb {
      margin-bottom: 6.25em; } }

.smallpt {
  padding-top: 0.75em; }

.basept {
  padding-top: 1.5em; }

.basept2 {
  padding-top: 3em; }

.basept3 {
  padding-top: 4.5em; }

.sectionpt {
  padding-top: 4em; }
  @media screen and (min-width: 900px) {
    .sectionpt {
      padding-top: 6.25em; } }

.smallpr {
  padding-right: 0.75em; }

.basepr {
  padding-right: 1.5em; }

.basepr2 {
  padding-right: 3em; }

.basepr3 {
  padding-right: 4.5em; }

.sectionpr {
  padding-right: 4em; }
  @media screen and (min-width: 900px) {
    .sectionpr {
      padding-right: 6.25em; } }

.smallpl {
  padding-left: 0.75em; }

.basepl {
  padding-left: 1.5em; }

.basepl2 {
  padding-left: 3em; }

.basepl3 {
  padding-left: 4.5em; }

.sectionpl {
  padding-left: 4em; }
  @media screen and (min-width: 900px) {
    .sectionpl {
      padding-left: 6.25em; } }

.smallpb {
  padding-bottom: 0.75em; }

.basepb {
  padding-bottom: 1.5em; }

.basepb2 {
  padding-bottom: 3em; }

.basepb3 {
  padding-bottom: 4.5em; }

.sectionpb {
  padding-bottom: 4em; }
  @media screen and (min-width: 900px) {
    .sectionpb {
      padding-bottom: 6.25em; } }

.smallpa {
  padding: 0.75em; }

.basepa {
  padding: 1.5em; }

.basepa2 {
  padding: 3em; }

.basepa3 {
  padding: 4.5em; }

.sectionpa {
  padding: 4em; }
  @media screen and (min-width: 900px) {
    .sectionpa {
      padding: 6.25em; } }

.lh1 {
  line-height: 1; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.text-action {
  color: #D7263D; }

.text-dark-gray {
  color: #333; }

.text-light-gray {
  color: #ddd; }

.text-medium-gray {
  color: #999; }

.text-primary {
  color: #1565c0; }

.text-white {
  color: white; }

.w100 {
  width: 100%; }

.max-width-1200 {
  max-width: 1200px; }

.max-width-960 {
  max-width: 960px; }

.max-width-760 {
  max-width: 760px; }

/*# sourceMappingURL=assets/maps/style.css.map */
