$footer-gray: #c7c7c7;

.footer-widgets {
    background-color: $light-gray;
    clear: both;
    position: relative;
    padding: $base-spacing*2 0;

    .menu-item a {
        color: $medium-gray;
        position: relative;
        padding-bottom: 4px;
        transition: color $base-duration $base-timing;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            background-color: $blue;
            opacity: 0;
            transition: opacity $base-duration $base-timing;
        }

        &:hover {
            color: $blue;

            &:before {
                opacity: 1;
            }
        }
    }

    .widget-title.widgettitle {
        font-size: em(20px);
        font-weight: bold;
        text-transform: uppercase;
    }

    @include media( $large-screen-up ) {
        padding: em(82px) 0;
    }

    ul.menu {
        margin-bottom: $small-spacing;
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    .widget-area  {
        width: 100%;
        margin-bottom: $base-spacing;
        text-align: center;

        @include media( $medium-screen-up ) {
            @include span-columns(6);
            @include omega-reset(4n);
            @include omega(2n);
        }

        @include media( $large-screen-up ) {
            @include span-columns(3);
            @include omega-reset(2n);
            @include omega(4n);
            margin-bottom: 0;
        }

        .widget {
            display: inline-block;
            text-align: left;
            clear: both;
            min-width: 51%;
        }
    }

}

.social-links {
    background-color: $light-gray;
    clear: both;
    position: relative;

    li {
        display: inline;
    }

    svg {
        background: $footer-gray;
        fill: #fff;
        height: 30px;
        margin-right: 5px;
        padding: 5px;
        transition: all $base-duration $base-timing;
        width: 30px;

        &:hover {
            background: $action-color;
        }
    }

}


.widget_media_image {
    img {
        display: block;
    }
}
