.mobile-menu-icon {
    width: 32px;
    height: 28px;
    position: absolute;
    right: 0;
    transform: rotate(0deg);
    transition: $base-duration $base-timing;
    cursor: pointer;
    opacity: 0.7;

    @include media($large-screen-up) {
        display: none;
    }

    &:hover {
        opacity: 1;
    }
}

.mobile-menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: $base-duration/2 $base-timing;

    .scrolled & {
        background: $dark-gray;
    }
}

.mobile-menu-icon span:nth-child(1) {
    top: 0px;
}

.mobile-menu-icon span:nth-child(2),
.mobile-menu-icon span:nth-child(3) {
    top: 12px;
}

.mobile-menu-icon span:nth-child(4) {
    top: 24px;
}

.site-container.move-left .mobile-menu-icon span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}

.site-container.move-left .mobile-menu-icon span:nth-child(2) {
    transform: rotate(45deg);
}

.site-container.move-left .mobile-menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.site-container.move-left .mobile-menu-icon span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}
