.site-footer {
    background-color: $light-gray;
    line-height: $base-line-height;
    padding: $base-spacing 0;
    text-align: center;
}

@include media($large-screen-up) {

    .footer-left {
        float: left;
    }

    .footer-right {
        float: right;
    }

}

.site-footer p {
    margin-bottom: 0;
}
