.slick-slider {
    background: url('assets/images/loader.gif');
}
.slick-slider .slick-list {
    opacity: 0;
    position: absolute;
}
.slick-slider.slick-initialized {
    background: none;
}
.slick-slider.slick-initialized .slick-list {
    opacity: 1;
    position: relative;
    transition: opacity 0.2s ease-in;
}
