.page-section-stories {
    overflow: hidden;

    h5 {
        font-weight: 600;
    }

    .stories {
        width: 100%;
    }

    .story {
        background-color: $primary-color;
        border-radius: $base-border-radius;
        display: block;
        margin-bottom: $base-spacing;

        img {
            display: block;
        }
    }

    .story-number,
    .story-title,
    p {
        color: $light-gray;
    }

    .story-blurb {
        padding: $base-spacing;
    }

    .story-number {
        clear: both;
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    @include media( $medium-screen ) {
        .stories {
            .story {
                @include span-columns(6);
                @include omega(2n);
            }
        }
    }

    @include media( $large-screen-up ) {

        &.three-posts .stories {
    		.story {
                @include span-columns(4);
                @include omega(3n);
                @include omega-reset(2n);
    		}
    	}

        &.two-posts .stories {
            .story {
                @include span-columns(6);
                @include omega(2n);
            }
        }

    	&.four-posts .stories {
            .story {
                @include span-columns(6);
                @include omega(2n);
            }
    	}
    }
}
