#flexible-section-repeater {

    .fifty-fifty-section {

    }

    .informational-cta-section {
        position: relative;
        background: $light-gray;

        p:last-of-type {
            margin-bottom: 0px;
        }

        &.wrap {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }

        .wrap {
            position: static;
        }

        .item {
            width: 100%;

            @include media($large-screen-up) {
                width: 50%;
            }

            &.content-section {
                padding-top: 4em;
                padding-bottom: 4em;

                p {
                    font-size: em(16);
                }

                @include media($large-screen-up) {
                    @include span-columns(6);
                    padding: 6em 4em 6em 0;
                }

                &.right {
                    @include media($large-screen-up) {
                        @include shift(6);
                        padding-left: 4em;
                        padding-right: 0;
                    }
                }
            }

            &.image {
                background-color: black;
                position: relative;
                height: 400px;

                @include media($large-screen-up) {
                    $pos-percent: 50%;
                    display: block;
                    position: absolute;
                    width: 50%;
                    height: 100%;

                    &.left { left: $pos-percent; }
                    &.right { right: $pos-percent; }
                }

                .bg {
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;

                    &.has-content-over {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
