.icon-blurb-section {

    .upper-content,
    .bottom-content {
        text-align: center;
        clear: both;
    }

    .icon-blurb-grid .blurb {

        svg {
            fill: $primary-color;
            height: auto;
            transition: all $base-duration $base-timing;
            width: em(60px);
        }

        .inner-blurb {
            transition: all $base-duration $base-timing;
        }

        &:hover {
            a .inner-blurb {
                opacity: 0.6;
            }
        }


    }

}
