.image-grid-section {
    .outer-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .image-grid-block {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
        height: 325px;
        width: 50%;


        &:nth-child(2),
        &:nth-child(3) {
            border-top: 10px solid #fff;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            border-bottom: 10px solid #fff;
        }

        &:nth-child(6) {
            border-top: 0px;
        }

        &.image-link-block,
        &.image-content-block {
            width: 100%;
        }

        @include media($large-screen-up) {
            width: 25%;

            &.image-link-block,
            &.image-content-block {
                width: 50%;
            }

            &:nth-child(1),
            &:nth-child(4) {
                border-left: 10px solid #fff;
            }

            &:nth-child(3),
            &:nth-child(6) {
                border-right: 10px solid #fff;
            }

            &:nth-child(6) {
                border-top: 5px solid #fff;
            }
        }

        &.image-content-block {
            padding: 4em;
            h2 {
                margin-bottom: 1.125em;
            }
        }

        &.image-link-block {
            position: relative;

            .image-link-content {
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
            }
        }
    }

}
