.logos-section {
    padding: 6em 0;

    .section-title {
        margin-top: 0;
        font-size: $base-font-size*1.75;
    }

    .section-post-title {
        margin-bottom: 0;
    }

    .left-side {

        display: inline-block;
        width: 100%;
        margin-bottom: $base-spacing*2;

        @include media($large-screen-up) {
            @include span-columns(6);
            margin-bottom: 0;
        }

    }

    .right-side {

        display: inline-block;
        width: 100%;

        @include media($large-screen-up) {
            @include span-columns(6);
            @include omega();
        }

    }

    .logo-block {
        img {
            display: block;
        }
    }
    
}
