.photo-grid-section {
    .photo-grid-grid {
        display: flex;
        flex-wrap: wrap;
        min-width: $medium-screen/2;
        transition: all $base-duration ease-in-out !important;

        .section.gallery {
            width: 100%;

            @include media($medium-screen-up) {
                 @include flex-grow(1);
                width: percentage(1/3);
            }
        }
    }

    .grid-section-image {
        @include bg-overlay( $dark-gray );
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 350px;

        &:before {
            background-image: url('assets/icons/src/icon_mag.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 30%;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: all $base-duration ease-in-out;
            visibility: hidden;
            width: 100%;
            z-index: 10;
        }

        &:after {
            opacity: 0;
            transition: all $base-duration ease-in-out;
            visibility: hidden;
        }

        &:hover {
            &:after,
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
