.ribbon-cta-section {
    background-color: $light-gray;
    display: block;
    position: relative;

    &:hover {
        .arrow-link {
            width: 20%;
        }
    }

    .wrap {
        margin: 0 auto;
        max-width: 980px;
    }

    .ribbon-text {
        display: block;
        padding-bottom: $base-spacing*2;
        padding-top: $base-spacing*2;
        text-align: center;

        @include media( $large-screen-up ) {
            padding-right: 35%;
            text-align: left;
        }
    }

    .top-text,
    .bottom-text {
        color: white;
        line-height: 1;
        margin-bottom: 0;
    }

    .top-text {
        font-size: em(30px);
        font-weight: 700;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .bottom-text {
        font-size: em(48px);
        font-family: $base-font-family;
        font-weight: 300;
        text-transform: uppercase;
    }

    .arrow-link {
        transform: skew( -20deg );
        background: $action-color;
        display: none;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: all $base-duration $base-timing;
        width: 25%;

        @include media( $large-screen-up ) {
            display: block;
        }

        .inner-arrow-link {
            transform: skew( 20deg );
            display: block;
            height: 100%;
            position: relative;
            width: 100%;

            svg {
                transform: translate( -50%, -50% );
                fill: white;
                height: 35px;
                width: auto;
                left: 50%;
                position: absolute;
                top: 50%;
                width: auto;
            }

            &:after {
                transform: skew(-20deg);
                background-color: $action-color;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                right: -38px;
                width: 40px;
            }

        }

    }
}
