#flexible-section-repeater {

	.page-flexible-section {

		&.has-top-padding {
			margin-top: $mobile-section-margin;
		}

		&.has-bot-padding {
			margin-bottom: $mobile-section-margin;
		}

		@include media($large-screen-up) {
			&.has-top-padding {
				margin-top: $desk-section-margin;
			}

			&.has-bot-padding {
				margin-bottom: $desk-section-margin;
			}
		}
	}

	.color {
		&.primary {
			background-color: $action-color;
		}

		&.blue {
			background-color: $primary-color;
		}

		&.light-gray {
			background-color: $light-gray;
		}

		&.medium-gray {
			background-color: $medium-gray;
		}

		&.dark-gray {
			background-color: $dark-gray;
		}

		&.white {
			background-color: white;
		}
	}

}

.section-title {
	margin: 0 0 $small-spacing;
	line-height: 1;
	transition: all $base-duration $base-timing;
	@include media($medium-screen-up) {
		font-size: em(48px);
	}
}

.section-pre-title {
	font-weight: bold;
	text-transform: uppercase;
	transition: all $base-duration $base-timing;
	margin-bottom: 0;
}

.section-sub-title {
	font-weight: bold;
	text-transform: uppercase;
	transition: all $base-duration $base-timing;
}

.section-post-title {
	margin-bottom: 1rem;
	transition: all $base-duration $base-timing;
}

.dark {
	.section-pre-title,
	.section-sub-title,
	.section-title,
	.section-post-title {
		color: $dark-gray;
	}
}

.light {
	.section-pre-title,
	.section-sub-title,
	.section-title,
	.section-post-title {
		color: white;
	}
}
