.tile-blocks {
	overflow: auto;

	@include media($large-screen-up) {
		display: flex;
		flex-direction: row;
	}
}

.tile-block {
	padding: $base-spacing*3 $base-spacing*2;
	position: relative;

	@include media($large-screen-up) {
		min-height: 300px;
	}

	.tile-block-excerpt {
		position: relative;
		z-index: 100;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: em(15);
			font-weight: 700;
			font-family: $base-font-family;
		}

		p {
			font-size: em(18);
			margin-bottom: 10px;
		}
	}

	&.has-image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@include bg_overlay( $dark-gray, 0.5 );

		.tile-block-excerpt {
			color: white;
		}
	}

	&.solid {
		&.primary {
			background-color: $red;

			.tile-block-excerpt {
				color: white;
			}
		}

		&.white {
			background-color: white;
			border: 1px solid $dark-gray;

			.tile-block-excerpt {
				color: $dark-gray;
			}
		}
	}
}
