/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-objectiv-obj-fifty-fifty-image .fifty-fifty-image-1,
.wp-block-objectiv-obj-fifty-fifty-image .fifty-fifty-image-2 {
	background-position: center;
	background-size: cover;
	min-height: 300px;
	width: 100%;
}

@media( min-width:900px) {
	.wp-block-objectiv-obj-fifty-fifty-image .fifty-fifty-image-1,
	.wp-block-objectiv-obj-fifty-fifty-image .fifty-fifty-image-2 {
		float: left;
		min-height: 600px;
		width: 50%;
	}
}