/* ## Site Containers
--------------------------------------------- */

.wrap {
  @include outer-container( 1200px );
  width: 90%;
}

.site-inner {
    .wrap {
        @include media( $large-screen-up ) {
            @include outer-container( 1200px );
        }
    }
}

.single-post .site-inner,
.single-staff .site-inner,
.single-tribe_events .site-inner,
.blog .site-inner,
.archive .site-inner,
.search .site-inner,
.page-template-default .site-inner {
    margin-top: $mobile-section-margin;
    margin-bottom: $mobile-section-margin;
    @include media( $large-screen-up ) {
        margin-top: $desk-section-margin;
        margin-bottom: $desk-section-margin;
    }
}

/* ## Column Widths and Positions
--------------------------------------------- */
/* ## Column Widths and Positions
--------------------------------------------- */
.content,
.sidebar-primary,
.full-width .content {
    @include span-columns(12);
    @include omega();
}

@include media( $large-screen-up ) {
    .content-sidebar-wrap {
        @include outer-container( 1200px );
        display: flex;

        .content {
            width: 65%;

            .full-width-content & {
                width: 100%;
            }
        }

        .sidebar-primary {
            width: 32%;
        }

        .content-sidebar & {
            .sidebar-primary {
                margin-right: 0;
                margin-left: auto;
            }
        }

        .sidebar-content & {
            .content {
                order: 2;
                margin-right: 0;
                margin-left: auto;
            }

            .sidebar-primary {
                order: 1;
            }
        }
    }
}
