// Background Color
.bg-action {
    background-color: $action-color;
}

.bg-dark-gray {
    background-color: $dark-gray;
}

.bg-light-gray {
    background-color: $light-gray;
}

.bg-medium-gray {
    background-color: $medium-gray;
}

.bg-primary {
    background-color: $primary-color;
}

.bg-white {
    background-color: white;
}