// Font Sizes
.f16 {
    font-size: em(16);
}

.f18 {
    font-size: em(18);
}

.f20 {
    font-size: em(20);
}

.f22 {
    font-size: em(22);
}

.f24 {
    font-size: em(24);
}

.f26 {
    font-size: em(26);
}

.f28 {
    font-size: em(28);
}

.f30 {
    font-size: em(30);
}

.f32 {
    font-size: em(32);
}

.f34 {
    font-size: em(34);
}

.f36 {
    font-size: em(36);
}

.f38 {
    font-size: em(38);
}

.f40 {
    font-size: em(40);
}

.f42 {
    font-size: em(42);
}

.f44 {
    font-size: em(44);
}

.f46 {
    font-size: em(46);
}

.f48 {
    font-size: em(48);
}

.f60 {
    font-size: em(60);
}

.f90 {
    font-size: em(90);
}

// Font Weights
.fwb {
    font-weight: bold;
}
