// Margin Resets
.mb0 {
    margin-bottom: 0;
}

.lmb0 {
    > :last-child {
        margin-bottom: 0;
    }
}

.lotmb0 {
    &:last-of-type {
        margin-bottom: 0;
    }
}

.mlra {
    margin-left: auto;
    margin-right: auto;
}

// Margin Top
.smallmt {
    margin-top: $small-spacing;
}

.basemt {
    margin-top: $base-spacing;
}

.basemt2 {
    margin-top: $base-spacing*2;
}

.basemt3 {
    margin-top: $base-spacing*3;
}

.sectionmt {
    margin-top: $mobile-section-margin;
    @include media($large-screen-up) {
        margin-top: $desk-section-margin;
    }
}

// Margin Left
.smallml {
    margin-left: $small-spacing;
}

.baseml {
    margin-left: $base-spacing;
}

.baseml2 {
    margin-left: $base-spacing*2;
}

.baseml3 {
    margin-left: $base-spacing*3;
}

.sectionml {
    margin-left: $mobile-section-margin;
    @include media($large-screen-up) {
        margin-left: $desk-section-margin;
    }
}

// Margin Right
.smallmr {
    margin-right: $small-spacing;
}

.basemr {
    margin-right: $base-spacing;
}

.basemr2 {
    margin-right: $base-spacing*2;
}

.basemr3 {
    margin-right: $base-spacing*3;
}

.sectionmr {
    margin-right: $mobile-section-margin;
    @include media($large-screen-up) {
        margin-right: $desk-section-margin;
    }
}

// Margin Bottom
.smallmb {
    margin-bottom: $small-spacing;
}

.basemb {
    margin-bottom: $base-spacing;
}

.basemb2 {
    margin-bottom: $base-spacing*2;
}

.basemb3 {
    margin-bottom: $base-spacing*3;
}

.sectionmb {
    margin-bottom: $mobile-section-margin;

    @include media($large-screen-up) {
        margin-bottom: $desk-section-margin;
    }
}